.si {
    width: 50px; /* or desired size */
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; /* to allow it to be used like an icon */
}
.apache-spark {
    background-image: url('https://cdn.simpleicons.org/apachespark');
  } 
.apache-hadoop {
    background-image: url('https://cdn.simpleicons.org/apachehadoop');
  }
.apache-cassandra {
    background-image: url('https://cdn.simpleicons.org/apachecassandra');
  } 
.apache-kafka {
    background-image: url('https://cdn.simpleicons.org/apachekafka/016FB9/');
  } 
.apache-airflow {
    background-image: url('https://cdn.simpleicons.org/apacheairflow/');
  } 
.python {
    background-image: url('https://cdn.simpleicons.org/python/');
  } 
.apache-airflow {
    background-image: url('https://cdn.simpleicons.org/apacheairflow/');
  } 
.aws {
    background-image: url('https://cdn.simpleicons.org/amazonaws/016FB9/');
  }   
.aws-s3 {
    background-image: url('https://cdn.simpleicons.org/amazons3/');
  } 
.aws-ec2 {
    background-image: url('https://cdn.simpleicons.org/amazonec2/');
  } 
.aws-eks {
    background-image: url('https://cdn.simpleicons.org/amazoneks/');
  } 
.aws-lambda {
    background-image: url('https://cdn.simpleicons.org/awslambda/');
  } 
.aws-s3 {
    background-image: url('https://cdn.simpleicons.org/amazons3/');
  } 
.mysql {
    background-image: url('https://cdn.simpleicons.org/mysql/');
  } 
.aws-s3 {
    background-image: url('https://cdn.simpleicons.org/amazons3/');
  } 
.docker {
    background-image: url('https://cdn.simpleicons.org/docker/');
  } 
.kubernetes {
    background-image: url('https://cdn.simpleicons.org/kubernetes/');
  }
.ansible {
    background-image: url('https://cdn.simpleicons.org/ansible/');
  }
.fastapi {
  background-image: url('https://cdn.simpleicons.org/fastapi/');
}
.grafana {
  background-image: url('https://cdn.simpleicons.org/grafana/');
}
.jenkins {
  background-image: url('https://cdn.simpleicons.org/jenkins/');
}
.apachegroovy {
  background-image: url('https://cdn.simpleicons.org/apachegroovy/');
}